
    <footer class="footer-distributed">

      <div class="footer-left">

        <p class="footer-links">
          <a href="/"><i class="fa fa-home" id="sm"></i></a>
          
          <a href="#"><i class="fa fa-facebook" id="sm"></i></a>
          
          <a href="#"><i class="fa fa-google-plus" id="sm"></i></a>
        </p>

        <p class="footer-company-name">Program_Stack &copy; 2018</p>

      </div>

      <div class="footer-right">

        <form method="get" action="{% url 'search' %}">
          <input placeholder="Search My website" name="q">
          <i class="fa fa-search"></i>
        </form>

      </div>

    </footer>
    </body>
</html>
